# Dependencies
node_modules/
**/node_modules/
.npm/

# Expo and builds
.expo/
**/.expo/
dist/
build/
web-build/
expo-env.d.ts

# Environment variables & secrets (CRITICAL: Never commit .env or api keys)
.env
.env.*
.env*.local
*.env
**/.env*

# Native builds
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro and Caches
.metro-health-check*
*.tsbuildinfo
scratch/

# Debug and Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
*.pem
Thumbs.db
